---
let { isSmall = false } = Astro.props
isSmall = true
---

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async
></script>

<button
	class="rounded-lg border-1 border-gray-800 bg-(--color-gold) px-4 py-2 text-sm font-semibold transition duration-300 hover:bg-[#e5b100]"
	onclick="Calendly.initPopupWidget({url: 'https://calendly.com/sundayreadysolutions/pco-health-check?hide_event_type_details=1&hide_gdpr_banner=1&background_color=f5f5f5&text_color=333333&primary_color=ffc300'});return false;"
>
	Book Your Health Check
</button>

<!-- <a href="">Schedule time with me</a> -->

<!-- Calendly link widget end -->
