---
let { isSmall = false } = Astro.props
isSmall = true
---

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async
></script>

<button
	class="hover:bg- rounded-lg border border-[#e5b100] bg-[#e5b100] px-6 py-2 font-semibold text-white shadow-md transition hover:shadow-lg"
	onclick="Calendly.initPopupWidget({url: 'https://calendly.com/sundayreadysolutions/pco-health-check?hide_event_type_details=1&hide_gdpr_banner=1&background_color=f5f5f5&text_color=333333&primary_color=ffc300'});return false;"
>
	Book Your Health Check
</button>
